.About{
    height: 79.2vh;
    color: #ffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex ;
    justify-content: center;
}

.leftSide{
    background-color: black;
    width: 800px;
    height: 500px;
    word-spacing: 5px;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 20px;
    font-size: larger;
}

.leftSide h1{
    margin-bottom: 30px;
    text-align: center;
}

@media only screen and (max-width: 900px){
    .About{
        width: 100%;
        height: 100vh;
        padding: 30px;
    }

    .leftSide{
        height: 100vh;
    }

}

@media only screen and (max-width: 400px){
    .About{
        height: 100%;
    }

    .leftSide{
        height: auto;
    }
}

